#vt {
    text-align: center;
}
#Vitor {
    text-align: center;
    color: black;
}
#vitor1 {
    text-align: center;
    color: black;
}
#vitor2 {
    text-align: center;
    color: black;
}
#vitor3 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 47, 255);
    text-decoration:none
}
#vitor3:hover {
    color: rgb(1, 137, 179);
    background-color: aliceblue;
    
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
#vitor4 {
    text-align: center;
}
#bt1 {
    display: block;
    margin: 0 auto;
    font-family: cursive;
}